adf/pipeline/p_er_juor_MoveFilesToParentFolder_test.json
{
	"name": "p_er_juor_MoveFilesToParentFolder_test",
	"properties": {
		"activities": [
			{
				"name": "GetLADataSubfolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_er_juror_ing_b",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": null,
						"modifiedDatetimeEnd": null,
						"wildcardFolderPath": "*/LA_Data"
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterSubfolders",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetLADataSubfolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetLADataSubfolders').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'Folder')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachSubfolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterSubfolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterSubfolders').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFolderContent",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_er_juror_ing_b",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_er_juror_ing_b",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ParentFolderPath": {
				"type": "string",
				"defaultValue": "20241213"
			}
		},
		"annotations": []
	}
}