synapse/pipeline/IncrementalCopyPipeline.json
{
	"name": "IncrementalCopyPipeline",
	"properties": {
		"activities": [
			{
				"name": "Get metadata files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_metadata_json",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "landing.json",
							"container": "metadata"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If file exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get metadata files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get metadata files').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set false",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "debug",
								"value": "false"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set last modified",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Last Modified",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "debug",
								"value": {
									"value": "@activity('Get Last Modified').output.firstRow.lastExecution",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Last Modified",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DS_metadata_json",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "landing.json",
										"container": "metadata"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "update watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If file exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastExecution",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "landing.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_datalake_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "metadata"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_metadata_json",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "landing.json",
							"container": "metadata"
						}
					}
				]
			}
		],
		"variables": {
			"debug": {
				"type": "String"
			}
		},
		"annotations": []
	}
}