synapse/pipeline/p_Maintanace.json
{
	"name": "p_Maintanace",
	"properties": {
		"activities": [
			{
				"name": "GetIrStatus",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Synapse URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(\n  variables('SynapseFullIUrl'),\n  '/integrationRuntimes/IR-Juror/getStatus?api-version=2021-06-01'\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": " ",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetIrStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetIrStatus').output.properties.typeProperties.nodes",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statuses",
								"value": {
									"value": "@concat(item().nodeName, item().status, ' ')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().status, 'Offline')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DeleteNode",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "DELETE",
											"headers": {
												"Content-Type": "application/json"
											},
											"url": {
												"value": "@{variables('SynapseFullIUrl')}/integrationRuntimes/IR-Juror/nodes/@{item().nodeName}?api-version=2021-06-01",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "AutoResolveIntegrationRuntime",
												"type": "IntegrationRuntimeReference"
											},
											"body": "",
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set Synapse URL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SynapseFullIUrl",
					"value": {
						"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  pipeline().parameters.subscriptionId,\n  '/resourceGroups/',\n  pipeline().parameters.resourceGroup,\n  '/providers/Microsoft.Synapse/workspaces/',\n  pipeline().DataFactory\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subscriptionId": {
				"type": "string",
				"defaultValue": "5ca62022-6aa2-4cee-aaa7-e7536c8d566c"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "baubais-data-factory-rg-prod"
			}
		},
		"variables": {
			"statuses": {
				"type": "Array"
			},
			"SynapseFullIUrl": {
				"type": "String"
			}
		},
		"annotations": []
	}
}